<!-- <div id="list">
    <ul>
        <li class="list-items">
            <div>
                <button class="actions" routerLink="/addReport"><mat-icon class="action_icon1">note_add</mat-icon><p id="content1">Add Report</p></button>  
            </div>
        </li>
        <li class="list-items">
            <div>
                <button class="actions" routerLink="/viewMyReport"><mat-icon class="action_icon2">description</mat-icon><p id="content2">View My Report</p></button>
            </div>
        </li>
        <li class="list-items">
            <div>
                <button class="actions" routerLink="/viewTeamReport"><mat-icon class="action_icon3">file_copy</mat-icon><p id="content3">View Team Report</p></button>
            </div>
        </li>
    </ul>
</div> -->

<div class="container card-container">
    <div class="card-columns column1">
        <div class="card card1">
            <div class="card-body text-center">
                <div class="for-icon">
                    <mat-icon class="my-card-icon">date_range</mat-icon>
                </div>
                <div class="for-text">
                    <p class="card-text text">Week Planner</p>
                </div>
            </div>
        </div>
        <div class="card card2" routerLink="/viewMyReport">
            <div class="card-body text-center">
                <div class="for-icon">
                    <mat-icon class="my-card-icon">list_alt</mat-icon>
                </div>
                <div class="for-text">
                    <p class="card-text text">Add/View Report</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card card3">
            <div class="card-body text-center">
                <div class="for-icon">
                    <mat-icon class="my-card-icon">library_books</mat-icon>
                </div>
                <div class="for-text">
                    <p class="card-text text">View Team Report</p>
                </div>
            </div>
        </div>
        <div class="card card4" routerLink="/assignTasks">
            <div class="card-body text-center">
                <div class="for-icon">
                    <mat-icon class="my-card-icon">call_split</mat-icon>
                </div>
                <div class="for-text">
                    <p class="card-text text">Assign Tasks</p>
                </div>
            </div>
        </div>
        <div class="card card5">
            <div class="card-body text-center">
                <div class="for-icon">
                    <mat-icon class="my-card-icon">create</mat-icon>
                </div>
                <div class="for-text">
                    <p class="card-text text">Notes</p>
                </div>
            </div>
        </div>
    </div>
</div>